body {
  margin: 0;
  padding: 0;
}

.splash-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hippodo {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  text-align: center;
  font-family: Tahoma;
  font-size: 40px;
  color: #4e4e4e;
  text-decoration: underline;
  position: relative;
  top: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

.intro-text {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  color: #4e4e4e;
}

.dwarfhippo {
  margin-left: auto;
  margin-right: auto;
  width: 13em;
  text-align: center;
  font-family: "Arial";
  font-size: 14px;
  color: #4e4e4e;
}

.company {
  margin-left: auto;
  margin-right: auto;
  width: 13em;
  text-align: center;
  font-family: "Arial";
  font-size: 10px;
  color: gainsboro;
}

.start-doing {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4e4e4e;
  border: none;
  box-shadow: 7px 10px #999;
  font-family: Tahoma;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #4e4e4e;
  transition-duration: 0.3s;
}

.start-doing:hover {
  background-color: white;
  color: #4e4e4e;
  border: 2px solid #4e4e4e;
}

.start-doing:active {
  transform: translateY(7px) translateX(10px);
  box-shadow: none
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4e4e4e;
  width: 100%;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 2px;
}

.homelogo {
  max-height: 10px
}


/* Change the link color to #111 (black) on hover */

.navbar li a:hover {
  background-color: #575757;
}

.list-menu li {
  list-style-type: none;
  width: 195px;
  height: 50px;
  font-family: "Tahoma";
  font-size: 20px;
  letter-spacing: 4px;
  padding: 2px;
  text-indent: 10px
}

.list-menu li:hover {
  background: #4e4e4e;
  color: white;
  transition-duration: 0.4s;
}

.list-menu {
  position: absolute;
  top: 100px;
  left: 100px;
}

.container {
  position: absolute;
  top: 15%;
  left: 40%;
}

.linedivider {
  position: absolute;
  top: 240px;
  left: 140px
}

.listlist {
  position: absolute;
  top: 280px;
  left: 150px;
}

.listlist h3 {
  font-family: "Tahoma";
  font-size: 20px;
  letter-spacing: 4px;
  color: #4e4e4e;
}

.listlist li {
  list-style-type: none;
  font-family: "Tahoma";
  color: #4e4e4e;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  height: 30px;
}

.listlist li:nth-child(1) {
  list-style-image: url(images/polybullet1.png);
}

.listlist li:nth-child(2) {
  list-style-image: url(images/polybullet3.png);
}

.listlist li:nth-child(3) {
  list-style-image: url(images/polybullet4.png);
}


.todo-input span:hover {
  cursor: pointer;
}

.lists a span {
  display: inline-block;
  text-transform: uppercase;
  font-family: Tahoma;
  color: black;
  width: 120px;
  text-align: center;
  background: #fff;
  padding: 15px;
  border: 3px solid #4e4e4e;
  letter-spacing: 3px;
  transition-duration: 0.4s;
}

.lists a span.active {
  background: #4e4e4e;
  color: white;
}

.lists a span:hover {
  background: #4e4e4e;
  color:white;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.strike {
  text-decoration: line-through;
}

.todo-input h2 {
  font-family: Tahoma;
  color: #4e4e4e;
  font-weight: bold;
}

.todo-input #todoTitle  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.todo-input #todoTitle:focus {
  border: 3px solid #555;
}

.todo-input #todoDate {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.todo-input #todoDate:focus {
  border: 3px solid #555;
}
.todo-input #priorityCheck, #filterSelector {
  color: #ccc;
  border: 3px solid #ccc;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.todo-input #priorityCheck, #filterSelector {
  color: #4e4e4e;
}

.todo-input .addButton {
  width: 100%;
  background: #ccc;
  border: none;
  padding: 8px;
  font-family: "Tahoma";
  font-weight: bold;
  font-size: 25px;
  color: white;
  transition-duration: 0.4s;
}

.todo-input .addButton:hover {
  background: #4e4e4e;
  border: none;
  padding: 8px;
  font-family: "Tahoma";
  font-weight: bold;
  font-size: 25px;
  color: white;
}

a {
  text-decoration: none;
}

#newFilter{
  background: #ccc;
  color: white;
  border: none;
  padding: 8px;
}

.content {
  list-style-type: none;
  font-family: "Tahoma";
  color: #4e4e4e;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  height: 30px;
}

.main {
  align-content: center;
  margin: -100px 0 0 -150px;
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;

}
